

nav{
    display: flex;
    width: 100%;
    background-color: darkgray;
    
}

 body{
 background-color:gray;
 margin-top: 1px;

 }
li{
    display: inline;
    margin: 30px;
}
 .logo{
    background-color: cornsilk;
    width: 200px;
    height: 70px;
    
}
.item1{
    margin-left: 400px;
}
section div{
    margin: 0px;
}

.boxtwo{
    margin: 10px;
    padding: 10px;
}
.boxthree{
    float: left;
}
 
    

button{
    display: flex;
    background-color: rgb(15, 15, 15);
    color: cornsilk;
    width: 100px;
    height: 30px;
    margin-top: 0px;
    
}
footer{
    background-color: darkgray;
    margin-bottom: 18px;
    height: 60px;
}
